---
const year = new Date().getFullYear();
const { path } = Astro.props;
const distPath = path;
---

<!--begin::Footer-->
<footer class="app-footer">
  <!--begin::To the end-->
  <div class="float-end d-none d-sm-inline">Version 1.0.0</div>
  <!--end::To the end-->
  <!--begin::Copyright-->
  <img width="30px" height="30px" src={distPath + "/assets/img/cht_logo.png"}/>
  <strong><a href="https://www.cht.com.tw">中華電信股份有限公司版權所有</a>&copy;</strong>
  Chunghwa Telecom Co., Ltd. All Rights Reserved
  <!--end::Copyright-->
</footer>
<!--end::Footer-->
